h1,
h2,
h3,
h4,
p,
ul,
ol {
    margin: 0;
    padding: 0;
}

.content_section {
    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin: auto;
    width: 1100px;
}

.header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 92px 24px 96px;
}

.header__logo {
    display: flex;
    justify-content: center;
    height: 105px;
}

.header__menu {
    width: 454px;
}

.header__links-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 44px 26.52px 39px;
    column-gap: 33px;
}

.header__links-list-item_no-bullit {
    list-style-type: none;
}

.header__links-list-item {
    list-style-type: circle;
    text-underline-offset: 3px;
}

.header__address {
    justify-self: end;
    padding-right: 63px;
    padding-top: 5px;
}

.info__list {
    display: flex;
    flex-direction: column;
    font-style: normal;
    list-style-type: none;
    line-height: 24.3px;
    text-underline-offset: 4px;
    text-decoration-thickness: .5px;
}

.cover {
    background-image: url(/images/cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 1;
}

.main_text_cover {
    font-family: Raleway;
    font-size: 100px;
    font-weight: 700;
    line-height: 115px;
    color: white;
}

.overlay {
    background-color: rgb(0 0 0/ 0.6);
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}

h1 {
    display: grid;
    row-gap: 20px;
    font-size: 100px;
    font-weight: 700;
    line-height: 115px;
    text-transform: uppercase;
    color: white;
    padding-top: 165px;
    padding-left: 50px;
    padding-right: 50px;
}

.aligned-text {
    display: block;
    white-space: nowrap;
}

.aligned_text_left {
    text-align: left;
    line-height: 115px;
}

.aligned_text_center {
    text-align: center;
    line-height: 100px;
    margin-right: 60px;
}

.aligned_text_right {
    text-align: right;
    line-height: 100px;
}

.letter_spacing_extended {
    letter-spacing: 0.3em;
}

.no_letter_spacing {
    letter-spacing: 0;
}

.letter_spacing_extended_n {
    letter-spacing: 0.35em;
}

.letter_spacing_extended_no {
    letter-spacing: 0.6em;
}

.letter_spacing_extended_b {
    letter-spacing: 0.35em;
}

.cover__description {
    display: grid;
    justify-items: center;
    grid-auto-flow: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 135px;
    padding-left: 78px;
    padding-bottom: 51px;
    padding-right: 50px;
    color: white;
    text-transform: uppercase;
    font-size: 22px;
}

.cover__description_text {
    font-weight: 400;
    word-spacing: 20px;
}

.cover__description_text_word-spacing {
    word-spacing: 17px;
}

.button {
    font-weight: 500;
    min-height: 51px;
    letter-spacing: 0.03em;
    text-align: center;
    white-space: nowrap;
    background-color: transparent;
    border-width: 2px;
    border-color: white;
    padding: 0 31.5px 0;
    font-size: 21px;
}

.lots {
    margin: 179px auto auto auto;
    width: 1052px;
}

.lots__heading {
    font-family: Raleway, sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    padding-left: 40px;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 27px;
}

.lots__content-lots {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 563px;
    text-decoration: none;
}


.card_type_film {
    background-image: url(/images/card-lot-01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 334px;
    z-index: 1;
}

.card_type_book {
    background-image: url(/images/card-lot-02.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 334px;
    z-index: 1;
}

.card_type_card {
    background-image: url(/images/card-lot-03.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 334px;
    z-index: 1;
}

.lots__title {
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    color: white;
    padding: 51px 40px 0;
    text-underline-offset: 3px;
    text-decoration: underline;
    text-decoration-thickness: .5px;
}

.lots__text {
    color: white;
    font-size: 20px;
    font-weight: 400;
    padding: 0 40px 46.5px;
    line-height: 24px;
}

.lots__look-more-link {
    font-size: 20px;
    text-underline-offset: 5px;
    padding-left: 40px;
    padding-top: 30px;
    text-decoration-thickness: .5px;
}

.about {
    display: flex;
    justify-content: space-between;
    margin: 146px auto auto auto;
    width: 1052px;
}

.background_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: black;
    margin-top: 36px;
    margin-left: 47px;
}

.about__logo {
    display: block;
}

.about__logo-image {
    width: 148px;
    padding-top: 6px;

}

.about__text {
    padding-top: 136px;
    width: 693px;
}

.about__title {
    font-family: Raleway, sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 46.96px;
    margin: 2px auto 100px;
}

.about__description {
    font-size: 20px;
    line-height: 24px;
    margin-top: 24px;
}

.footer {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 180px 50px 88px;
}

.footer__menu {
    text-align: center;
}

.footer__menu-link_active {
    list-style-type: none;
}

.footer__menu-link {
    list-style-type: none;
    text-underline-offset: 3px;
}

.footer__social-list {
    display: grid;
    grid-auto-flow: column;
    column-gap: 48px;
    justify-self: end;
}

.footer__social-link {
    width: 48px;
    height: 48px;
}

